* {
  color: pink
}

h1 {
  color: pink;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 67px;
}

body {
  background-image:  url(fav.png), url(sush.jpg);
  background-repeat: repeat;
  background-position: 10px 10px top right;
  background-size: 10%
}

ol {
  color: orange;
}

p {
   color: limegreen;
}

table {
  color: azure;
}

.fish {
  color: purple;
  padding-right: 35px;
  border: 10px dotted red
}

a:visited {
  color: yellow
}

p:hover {
  color: greenyellow;
}

td {
  border: 15px dashed yellow
}