h1 {
  color: yellow;
  font-size: 70px;
}

body {
  background-color: yellowgreen;
}

.space {
  padding: 10px;
}

.pikachu {
  color: orangered;
  font-size: 40px
}

button {
  background-color: red;
}

.charmander {
  color: whitesmoke
}

nav {display: flex;}

nav a {
  text-decoration-line: none
}

div {
  text-align: center;
}

div button {
  background-color: rgb(171, 194, 89);
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  width: 50%;
  height: 200px;
}