h1 {
  color: yellow;
  font-size: 70px;
}

body {
  background-color: yellowgreen;
}

.space {
  padding: 10px;
}

.pikachu {
  color: orangered;
  font-size: 40px
}

button {
  background-color: red;
}

.charmander {
  color: whitesmoke
}

nav {display: flex;}

list {
  
}